:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: black; */
  /* background-color: white; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-text-color: #121212;
  --primary-background-color: white;
  --navbar-background-color: #141415;
  --secondary-color: #1e90ff;
  --darker-secondary-color: #003ea8;
  --tertiary-color: #f1f1f1;
  --darker-tertiary-color: #e0e0e0;

}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

.page-container {
  padding-top: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.action-button {
  width: 100%;
  height: 2.8rem;
  padding: 0.5rem 0;
  margin-bottom: 0.6rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.2s ease;
  text-decoration: none;
  box-sizing: border-box;
}

.primary-button {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}

.primary-button:hover {
  background-color: var(--darker-secondary-color);
}

.secondary-button {
  background-color: var(--tertiary-color);
  color: #333;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: var(--darker-tertiary-color);
}

.red-button {
  background-color: rgb(251, 98, 98);
  color: white;
  cursor: pointer;
}

.red-button:hover {
  background-color: rgb(221, 36, 36);
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-text-from-bottom {
  opacity: 0;
  animation: fadeInFromBottom 1.5s ease-out forwards;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-text-from-top {
  opacity: 0;
  animation: fadeInFromTop 1.5s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

.action-message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.9em;
  text-align: center;
}

.action-message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.action-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
