:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: black; */
  /* background-color: white; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-text-color: #121212;
  --primary-background-color: white;
  --navbar-background-color: #141415;
  --secondary-color: #1e90ff;
  --darker-secondary-color: #003ea8;
  --teriary-color: #f1f1f1;
  --darker-teriary-color: #e0e0e0;

}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.page-container {
  padding-top: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}