.item-details-container {
  display: flex;
  gap: 3rem;
  margin: 5rem 0 2rem 2rem;
}

.thumbnail-section {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.thumbnail {
  width: 20rem;
  height: 30rem;
  object-fit: contain;
}

.availability-info {
  display: grid;
  grid-template-columns: auto 1fr; 
  column-gap: 0.5rem;
  row-gap: 0.2rem;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 20rem;
  margin: 1rem 0;
}

.availability-info p {
  display: contents;
}

.availability-info strong {
  justify-self: start;
}

.availability-info span {
  justify-self: start;
}

.details-section {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.details-section p {
  margin: 0;
}

.item-title {
  margin: 0;
}

.item-author {
  font-size: 1.1rem;
}
.item-author-name {
  color: #0055dd;
  font-weight: bold;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 1.5rem 0;
}

.divider--tight {
  margin-top: 0;
  margin-bottom: 2rem;
  border-top: 1px solid var(--darker-tertiary-color);
}

.item-description {
    white-space: pre-line;
}

.additional-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 1rem 0;
}

.additional-info li {
  display: grid;
  grid-template-rows: 1.2rem 2.6rem auto;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.info-name {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2rem;
  height: 1.2rem;
  padding-bottom: 2rem;
}

.info-icon {
  font-size: 2rem;
  line-height: 2.5rem;
  height: 2.5rem;
}

.info-detail {
  font-weight: bold;
  font-size: 0.95rem;
  max-width: 10rem;
  white-space: normal;
}


.action-button {
  width: 100%;
  max-width: 20rem;
  height: 2.8rem;
  padding: 0.5rem 0;
  margin-top: 0.6rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

.borrow-button {
  background-color: var(--secondary-color);
  color: white;
}

.borrow-button:hover {
  background-color: var(--darker-secondary-color);
}

.hold-button {
  background-color: var(--tertiary-color);
  color: #333;
}

.hold-button:hover {
  background-color: var(--darker-tertiary-color);
}

.tags-section {
  display: flex;
  flex-wrap: wrap;
}