.sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  z-index: 1000;
}

.sheet-container {
  background: white;
  width: 400px;
  padding: 2rem;
  box-shadow: -4px 0 10px rgba(0,0,0,0);
  animation: slideIn 0.3s ease forwards;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: box-shadow 1s ease, transform 1s ease;
}


.sheet-container.show {
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
}

.sheet-container form label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sheet-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}