.user-details-container {
    margin: 2rem;
}

.user-header-section {
    display: flex;
}

.user-header-section h1 {
    margin-right: 1rem;
}

.search-result-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.search-result-buttons button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 33%;
}

.action-circle-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-circle-button:hover {
  background-color: var(--darker-secondary-color);
}

.result-title-header {
    display: flex;
    gap: 1rem;
}

.result-title-header p {
    font-style: italic;
    color: gray;
}

.result-details a {
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
}

.result-details a:hover {
    color: var(--darker-secondary-color);
}

.simple-link {
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}