.nav-container {
  background: #141415;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
} */

.nav-links {
    padding: 0;
    justify-content: center;
}

.nav-links li:not(:last-child){
  margin-right: 0;
}
.nav-links button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  line-height: inherit; 
  display: inline-block;
  padding: 0;
  text-align: center;
}
.nav-links a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.nav-links {
  margin: 0;
  display: flex;
  list-style-type: none;
  align-content: center;
  color: white;
}

.nav-links li {
  border-radius: 5px;
  margin: auto 10px;
  padding: 10px;
  transition: background-color 0.25s ease;
}

.nav-links li:hover {
  background: var(--container-background);
  backdrop-filter: blur(10px);
}

.navbar-logo {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  margin: 10px auto;
}