.login-page-container{
  background-image: url('../../assets/login_background.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: left;
  height: 100vh;
}

.login-side-text {
  margin: auto;
}

.login-side-text h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
}
.login-side-text p {
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
}

.login-page-content {
  display: flex;
  align-items: center;
  height: 90vh;
}

.login-form-title {
  font-size: 2rem;
  margin: 0;
}

.login-header {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.login-subheader {
  margin: 0;
  color: var(--muted);
  font-size: 0.85rem;
}

.login-form-container {
  margin: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 2rem;
}

.form-group a {
  color: var(--secondary-color);
  text-decoration: none;
}

.form-group a:hover {
  text-decoration: underline;
}

.form-group p {
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
}