.pricing-page-container{
  background-image: url('../../assets/pricing_background.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: left;
  height: 100vh;
}

.pricing-content {
  text-align: center;
  margin-top: 15vh;
}


.pricing-table {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.tier-card {
  flex: 1;
  max-width: 15vw;
  border-radius: 8px;
  background-color: white;
  padding: 2rem 1rem;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeInFromBottom 1.2s ease-out forwards;
}

.tier-card:nth-child(1) {
  animation-delay: 0.2s;
}

.tier-card:nth-child(2) {
  animation-delay: 0.5s;
}

.tier-card:nth-child(3) {
  animation-delay: 0.7s;
}

.tier-card:nth-child(4) {
  animation-delay: 0.8s;
}

.tier-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #007bff;
}

.tier-name {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.tier-price {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.tier-limit {
  margin-bottom: 1rem;
  color: #555;
}

.tier-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.pricing-table .tier-note {
  font-size: 0.8rem !important;
  color: var(--muted);
  margin-top: 1rem;
}