.homepage-container {
  background-image: url('../../assets/library_background.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: left;
  height: 100vh;
}

.homepage-content {
  text-align: center;
  margin-top: 25vh;
}

.logo-container {
  margin-bottom: 1rem;
}

.home-title h1{
  font-size: 3rem;
  color: black;
  margin: 0;
}

.home-title p {
  font-size: 1.2rem;
  color: black;
  margin: 0;
  margin-bottom: 2rem;
}
.search-bar {
  width: 50rem;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--darker-tertiary-color);
  border-radius: 50px;
  background: white;
  color: black;
}

.search-bar:hover, .search-bar:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 8px var(--secondary-color);
    transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;
}
