
.Login_Page_Wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc; /* optional */
}

.Login_Page {
    display: flex;
    flex-direction: column;  /* so header sits above form */
    align-items: center;
    justify-content: center;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 14px 40px rgba(83, 83, 83, 0.2);
    max-width: 450px;
    background-color: #616f90; /* keep transparent background */
  }

.welcome {
  padding-top: 2rem;
  padding-bottom: 5rem;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.Login_Container {
  background: #fff;
  border: 2px solid #e5e7eb;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 14px 40px rgba(0,0,0,0.20);
}

.login-form {
  padding: 2rem 4rem;
  background-color: #fff;
  border-radius: 1rem;
}

.Form_Entries {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #fafafa;
  border: 2px solid #e5e7eb;
  transition: border-color .15s, box-shadow .15s;
}

.Form_Entries:focus-within {
  border-color: grey;
  box-shadow: 0 0 0 3px rgba(67, 66, 66, 0.363);
}

.Form_Entry {
  color: #0f172a;
  font-weight: 700;
  min-width: 80px;
}

.form-input {
  flex: 1;
  padding: 0.9rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  background: transparent;
  outline: none;
}

.LoginPage_Button {
  margin-top: 1.5rem;
  padding: 0.9rem;
  background: linear-gradient(180deg, #3f3b3b, #302f2f);
  color: #fff;
  border-radius: 0.75rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  box-shadow: 0 4px 14px rgb(28, 27, 27);
}

.login_button {
  position: relative;
  padding: 0.7rem 1.5rem;
  background: linear-gradient(180deg, #4f4d4d, #4f4c4c);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.05s, box-shadow 0.15s;
  box-shadow: 0 4px 14px rgba(28, 27, 27);
}

.login_button:hover {
  box-shadow: 0 8px 20px rgba(107, 104, 104, 0.45);
  transform: translateY(-1px);
  background-color: #8a8a8a;
}

.login_button:active {
  transform: translateY(0);
}