.nav-container {
  background: var(--navbar-background-color);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  justify-content: center;
  align-items: flex-start;
}

.nav-links {
    padding: 0;
    justify-content: center;
}

.nav-links li:not(:last-child){
  margin-right: 0;
}
/* .nav-links button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  line-height: inherit; 
  display: inline-block;
  padding: 0;
  text-align: center;
} */

.nav-links a, .nav-links button {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.nav-links {
  margin: 0;
  display: flex;
  list-style-type: none;
  align-content: center;
  color: var(--primary-background-color);
}

.nav-links li {
  margin: auto 10px;
  padding: 10px;
  transition: background-color 0.25s ease;
}

.navbar-logo {
  width: 30px;
  height: 30px;
  margin: 10px auto;
}

.nav-icon {
  font-size: 1.5rem;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  width: 100vw;
  /* padding: 2rem 2rem; */
  justify-content: center;
  transition: opacity 0.4s ease;
  display: flex;
  flex-wrap: wrap;
  height: 0;
  background: var(--navbar-background-color);
  transition: height 0.4s ease;
  overflow: hidden;
}

.dropdown:hover .dropdown-menu,
.dropdown > a:hover + .dropdown-menu {
  display: flex;
  height: 250px;
}

.category-column {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 2rem 2rem;
}

.dropdown:hover .category-column p,
.dropdown:hover .category-column a {
  opacity: 1;
}


.category-column p {
  color: var(--primary-background-color);
  font-size: 0.75rem;
  margin-bottom: 1rem;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.category-column a {
  color: var(--primary-background-color);
  text-decoration: none;
  margin: 0.3rem 0;
  font-weight: bold;
  opacity: 0;
  transition: color 0.2s ease, opacity 0.4s ease;
}

.category-column a:hover {
  color: #2c7df0;
}
